.container {
    display: flex;

    span {
        display: flex;
        align-items: center;
        padding: 0;
        cursor: pointer;
        // position: relative;

        .right {
            transform: scaleX(-1);
            margin-left: -16px;
        }

        .left {}
    }
}