.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(211, 169, 250);
    position: relative;

    img {
        width: 100%;
        height: auto;
    }

    .imgContainer {
        position: absolute;
        display: flex;
        transition: 0.3s;

        img {
            transform: scale(1);
            transition: 0.3s;
        }

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .btn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: -33px;

        .active {
            background: #000000;
            color: #ffffff;
        }
    }

    .imgMini {
        display: flex;
        position: absolute;
        bottom: -84px;

        img {
            width: 50px;
            height: auto;
            border: 1px solid;
            cursor: pointer;
        }
    }

    // .bottom {}

}