.container {
    display: flex;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;

    .icon {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .input {
        border: none;
        outline: none;
        padding: 10px;
        color: rgb(128, 128, 137);
    }

    .text {
        color: rgb(44, 44, 253);
        padding: 10px;
        border-left: 1px solid rgb(221, 221, 221);
        text-decoration: none;

        &:hover {
            background: #a7dcec;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

        }
    }
}