.container {
    padding: 16px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    gap: 12px;

    img {
        border-radius: 10px;
        width: 100%;
        height: auto;
    }

    .left {
        grid-row: 1/ span 2;
        grid-column: 1/ span 2;
    }

    .right {
        grid-row: span 1;
        grid-column: span 1;
    }
}