.container {
    display: flex;
    background: #ffffff;
    padding-top: 10px;

    .left {
        padding-left: 40px;
    }

    .center {}

    .right {
        display: flex;
        justify-content: center;
        align-items: start;
    }
}