.container {
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 24px;

    .img {
        display: flex;
        justify-content: center;
        // align-items: center;
        background: #ffffff;
        border-radius: 8px;
        padding: 16px;
    }

    .details {
        display: flex;
        justify-content: center;
        // align-items: center;
        background: #ffffff;
        border-radius: 8px;
    }

    .form {
        display: flex;
        justify-content: center;
        // align-items: center;
        background: #ffffff;
        border-radius: 8px;
    }
}